:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navyblue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--lightslate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navybluemodal: #2e2f42;
	--grey: #2e2f42;
	--white: #ffffff;
	--dairy: #fcfcfc;
	--activehover: #000000;
}
body {
	font-family: "Roboto", sans-serif;
	color: var(--slate);
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.logo {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-align: left;
}
.web {
	color: var(--iris);
}
.studio {
	color: var(--navyblue);
}
.navi {
	font-weight: 500;
	text-align: left;
	color: var(--navyblue);
}
.contact {
	color: var(--slate);
}
.interactive {
	text-decoration: none;
}
.interactive:hover {
	cursor: pointer;
	color: var(--ocean);
	text-decoration-line: underline;
	border-radius: 2px;
}
.interactive:focus {
	color: var(--activehover);
}
.header-one {
	font-size: 56px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--white);
}
.dark-bg {
	background-color: var(--navyblue);
	color: var(--cloud);
}
.button {
	font-weight: 500;
	letter-spacing: 0.04em;
	border-radius: 4px;
	border: none;
}
.button:hover {
	cursor: pointer;
}
.button:focus {
	color: var(--activehover);
}
.b-one {
	text-align: left;
	color: var(--white);
	background-color: var(--iris);
	border: none;
}
.b-one:hover {
	background-color: var(--ocean);
}
.header-three {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-align: left;
	color: var(--navyblue);
}
.header-two {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.1;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--navyblue);
}
.footer {
	color: var(--cloud);
}
.b-two {
	text-align: center;
	background-color: var(--ocean);
	color: var(--white);
	border: none;
}
.b-two:hover {
	background-color: var(--iris);
}

.b-three {
	text-align: center;
	background-color: var(--cloud);
	color: var(--iris);
	border: 1px solid var(--cornflower);
}
.b-three:hover {
	background-color: var(--cornflower);
}
